* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: dark; 
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
  overflow-x: hidden; 
  width: 100vw;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #e50914;
  text-align: center;
}

header p {
  text-align: center;
  color: #a3a3a3;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
  font-family: inherit;
}