/* --- RESET GLOBAL --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Forzamos modo oscuro siempre */
  color-scheme: dark; 
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414; /* Negro Netflix */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
  /* --- SOLUCIÓN: ESTO BLOQUEA EL MOVIMIENTO DE LA PANTALLA --- */
  overflow-x: hidden; 
  width: 100vw;
  position: relative;
}

/* Estilos básicos de texto */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header h1 {
  font-size: 2.5rem; /* Ajustado para que no sea gigante */
  margin-bottom: 10px;
  color: #e50914; /* Rojo Netflix (opcional) o blanco */
  text-align: center;
}

header p {
  text-align: center;
  color: #a3a3a3;
  margin-bottom: 20px;
}

/* Botones generales (Reset) */
button {
  cursor: pointer;
  font-family: inherit;
}